# Generate a token on https://github.com/settings/tokens
GH_ACCESS_TOKEN=''

# Space separated repository names
REPOS='Quivr/Backend Quivr/Mobile Quivr/Web'

# The maximum number of allowable additions (lines)
MAX_ADDITIONS=1500
